/* COMMON */
* {
  box-sizing: border-box;
  font-size: 16px;
  /* font-family: "Inter-Bold", sans-serif; */
  font-family: Inter, "Source Sans Pro";
}

ul {
  padding: 0;
}
li {
  list-style: none;
}

/* Input CSS */

input[type="radio"] {
  accent-color: #1d24ca;
  margin-right: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

input[type="radio"]:hover {
  cursor: pointer;
}

input[type="radio"]:hover + label {
  cursor: pointer;
}

/* 플레이스 홀더 */
#select_person option[value=""][disabled] {
  display: none;
}
#userinput_starttime option[value=""][disabled],
#userinput_endtime option[value=""][disabled] {
  display: none;
}

#userinput_date::before {
  content: attr(data-placeholder);
  width: 100%;
}
#userinput_date:focus::before,
#userinput_date:valid::before {
  display: none;
}

/* Button CSS */
button {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  margin: 0.5rem 0.2rem;
  text-align: center;
  border-radius: 3px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  padding: 0;
}
button.confirm {
  color: #ffffff;
  background-color: #00448d;
  border: 1px solid #005fff;
}
button.confirm:hover {
  background-color: #1d24ca;
}
button.confirm:active {
  color: #9ad0c2;
}

button.cancel {
  background-color: #c2c2c2;
  color: #fff;
  border: 1px solid #c2c2c2;
}

button.cancel:hover {
  background-color: #a3c9aa;
}

button.cancel:active {
  color: #eeeeee;
}

/* button.delete_person {
  box-shadow: none;
  border: 1px solid #c2c2c2;
  font-size: 1rem;
  font-weight: bold;
  color: #c2c2c2;
  background-color: #fff;
  width: 1.6rem;
  height: cacl(100% - 0.5rem);
  font-weight: bold;
} */
button.delete_person {
  margin: 0.1rem 0rem 0.3rem 0rem;
  width: 1.6rem;
  height: calc(100% - 0.4rem);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #c2c2c2;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  border: solid 0.1rem #c2c2c2;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}

button.delete_person:hover {
  background-color: #f6f5f5;
  outline: none;
  color: #c2c2c2;
}

button.delete_person:active {
  background-color: #f6f5f5;
  box-shadow: 0px 0px 3px #666;
  outline: none;
  color: #c2c2c2;
}

/* body design */
.logo {
  margin: auto;
  width: 16.7rem;
  height: 4.8rem;
  position: relative;
  /* left: 33.7rem; */

  object-fit: cover;
  /* vertical-align: top; */
}

#main {
  width: auto;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#main .logo_header {
  padding-left: 10.5rem;
}

h1 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.2rem;
}

.big_select {
  width: 27.5rem;
  height: 2.5rem;
}
.small_select {
  width: 10.5rem;
  height: 2.5rem;
}

#reservation_wrapper section {
  margin: 1.5rem 0;
}

#select_person {
  border-radius: 5px;
}

#result-person-list {
  margin: 0;
  padding: 0;
}
#result-person-list li {
  display: flex;

  align-items: center;
}

#reservation_buttons {
  display: flex;
  justify-content: end;
}

#time_option {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-stretch: ultra-expanded;
}
#time_option span {
  font-weight: bold;
}

#select_room {
  margin-top: 5rem;
}

#conference_room_select {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
#conference_room_select .conference_list {
  display: flex;
  align-items: center;
}
#conference_room_select .conference_list label {
  font-size: 1.5rem;
}

#room_select_btn_wrap.hidden {
  display: none;
}

#room_select_btn_wrap {
  display: block;
}

#room_select_btn {
  display: block;
}

#room_select_btn_wrap img {
  position: relative;
  right: 1.8rem;
  width: 12rem;
  height: 40px;
  margin: 0;
}
#room_select_btn_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conference_list {
  margin: 12px 0;
}
