/* COMMON */
* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
#userinput_date::before {
  content: attr(data-placeholder);
}
input[type="radio"] {
  accent-color: #1d24ca;
}

input[type="radio"]:hover {
  cursor: pointer;
}

input[type="radio"]:hover + label {
  cursor: pointer;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}

body {
  justify-content: center;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
button {
  margin: 0.5rem 0.2rem;
}
button.confirm {
  background-color: #005fff;
  color: #fff;
}
button.confirm:hover {
  background-color: #1d24ca;
}
button.confirm:active {
  color: #9ad0c2;
}

button.cancel {
  background-color: #c2c2c2;
  color: #fff;
}

button.cancel:hover {
  background-color: #a3c9aa;
}

button.cancel:active {
  color: #eeeeee;
}

button.delete_person {
  border: 1px solid #c2c2c2;
  font-size: 1rem;
  font-weight: bold;
  color: #c2c2c2;
  background-color: #fff;
}

/* 참석자 선택 플레이스 홀더 */
#select_person option[value=""][disabled] {
  display: none;
}

#main {
  width: auto;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#reservation_wrapper {
  border: 1px solid #ddd;
}
#reservation_wrapper section {
  margin: 1rem;
}

#result-person-list {
  margin: 0;
  padding: 0;
}

#reservation_buttons {
  display: flex;
  justify-content: end;
}

#select_room {
  border: 1px solid #ddd;

  margin-top: 2rem;
}

#conference_room_select {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
#conference_room_select .conference_list {
  display: flex;
}

#room_select_btn.hidden {
  display: none;
}
#room_select_btn {
  display: block;
}
#room_select_btn_wrap {
  display: flex;
  justify-content: end;
}
.conference_list {
  margin: 12px 0;
}
